<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <project-properties class="concurrent-hash-map">
    <entry>
      <string>builders</string>
      <describable-list-property>
        <originalValue class="hudson.util.DescribableList">
          <hudson.tasks.Shell>
            <disabled>false</disabled>
            <description>Clone git repositories </description>
            <command>git clone https://github.com/xtuml/bridgepoint.git --branch master --depth 1
git clone https://github.com/xtuml/mc.git --branch master --depth 1
git clone https://github.com/xtuml/packaging.git --branch master --depth 1
git clone https://github.com/xtuml/pt_antlr.git --branch master --depth 1</command>
          </hudson.tasks.Shell>
          <hudson.tasks.Shell>
            <disabled>false</disabled>
            <description>Prebuild step</description>
            <command># Update the build ID
curdate=$(TZ=&apos;America/New_York&apos; date +&quot;%F %R&quot;)
sed -i &quot;s/InternalBuild/$curdate/&quot; bridgepoint/src/org.xtuml.bp.pkg/about.mappings
mkdir -p /tmp/buildinfo
cp bridgepoint/src/org.xtuml.bp.pkg/about.mappings /tmp/buildinfo

# copy preferences
mkdir -p wse/.metadata/.plugins/org.eclipse.core.runtime/.settings
cp -f bridgepoint/utilities/build/preferences/* wse/.metadata/.plugins/org.eclipse.core.runtime/.settings

#AntLr
cp -f pt_antlr/pt_antlr/antlr.jar bridgepoint/src/org.xtuml.bp.als/lib/antlr.jar

# generation
# import to workspace
/build/buildmt/BridgePoint/Launcher.sh -nosplash -data wse -application org.eclipse.cdt.managedbuilder.core.headlessbuild -importAll bridgepoint/src

# generate
# 
/build/buildmt/BridgePoint/CLI.sh Build -project org.xtuml.bp.core -prebuildOnly
/build/buildmt/BridgePoint/CLI.sh Build -project org.xtuml.bp.als -prebuildOnly
/build/buildmt/BridgePoint/CLI.sh Build -project org.xtuml.bp.ui.canvas -prebuildOnly</command>
          </hudson.tasks.Shell>
          <hudson.tasks.Shell>
            <disabled>true</disabled>
            <description>Unit Test - Prepare the environment for unit testing</description>
            <command>git clone https://github.com/xtuml/bptest --branch master --depth 1
git clone https://github.com/xtuml/models.git --branch master --depth 1
/build/buildmt/BridgePoint/Launcher.sh -nosplash -data wse -application org.eclipse.cdt.managedbuilder.core.headlessbuild -importAll bptest/src
/build/buildmt/BridgePoint/CLI.sh Build -project org.xtuml.bp.core.test -prebuildOnly
</command>
          </hudson.tasks.Shell>
          <maven-builder>
            <disabled>false</disabled>
            <description>Build product (also builds tests if the INCLUDE_TESTS is true)</description>
            <config>
              <installationId>(Bundled)</installationId>
              <goals>verify</goals>
              <privateRepository>true</privateRepository>
              <privateTmpdir>true</privateTmpdir>
              <pomFile>bridgepoint/releng/org.xtuml.bp.releng.parent/pom.xml</pomFile>
              <properties>
                <entries>
                  <entry name="tycho.disableP2Mirrors" value="true"/>
                  <entry name="skipTests" value="!${INCLUDE_TESTS}"/>
                  <entry name="maven.test.failure.ignore" value="${INCLUDE_TESTS}"/>
                  <entry name="eclipse.home" value="/build/buildmt/BridgePoint"/>
                </entries>
              </properties>
              <errors>false</errors>
              <verbosity>NORMAL</verbosity>
              <offline>false</offline>
              <snapshotUpdateMode>NORMAL</snapshotUpdateMode>
              <recursive>true</recursive>
              <checksumMode>NORMAL</checksumMode>
              <failMode>NORMAL</failMode>
              <makeMode>NONE</makeMode>
              <settingsId>NONE</settingsId>
              <globalSettingsId>NONE</globalSettingsId>
              <toolChainsId>NONE</toolChainsId>
            </config>
          </maven-builder>
          <maven-builder>
            <disabled>true</disabled>
            <description>Unit Test - Collect Results</description>
            <config>
              <installationId>(Bundled)</installationId>
              <goals>surefire-report:report-only</goals>
              <privateRepository>false</privateRepository>
              <privateTmpdir>false</privateTmpdir>
              <pomFile>bridgepoint/releng/org.xtuml.bp.releng.parent/pom.xml</pomFile>
              <properties>
                <entries>
                  <entry name="aggregate" value="true"/>
                </entries>
              </properties>
              <errors>false</errors>
              <verbosity>NORMAL</verbosity>
              <offline>false</offline>
              <snapshotUpdateMode>NORMAL</snapshotUpdateMode>
              <recursive>true</recursive>
              <checksumMode>NORMAL</checksumMode>
              <failMode>NEVER</failMode>
              <makeMode>NONE</makeMode>
              <settingsId>NONE</settingsId>
              <globalSettingsId>NONE</globalSettingsId>
              <toolChainsId>NONE</toolChainsId>
            </config>
          </maven-builder>
          <hudson.tasks.Shell>
            <disabled>true</disabled>
            <description>MASL Roundtrip Testing</description>
            <command>/build/buildmt/roundtrip/roundtrip.sh
</command>
          </hudson.tasks.Shell>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </describable-list-property>
    </entry>
    <entry>
      <string>cleanWorkspaceRequired</string>
      <boolean-property>
        <originalValue class="boolean">true</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-plugins-xvnc-Xvnc</string>
      <external-property>
        <originalValue class="hudson.plugins.xvnc.Xvnc">
          <takeScreenshot>false</takeScreenshot>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>scm</string>
      <scm-property>
        <originalValue class="hudson.scm.NullSCM"/>
        <propertyOverridden>false</propertyOverridden>
      </scm-property>
    </entry>
    <entry>
      <string>hudson-tasks-ArtifactArchiver</string>
      <external-property>
        <originalValue class="hudson.tasks.ArtifactArchiver">
          <artifacts>bridgepoint/releng/org.xtuml.bp.releng.parent.product/target/products/*.zip, bridgepoint/releng/org.xtuml.bp.releng.parent/target/site/*.html</artifacts>
          <compressionType>GZIP</compressionType>
          <latestOnly>false</latestOnly>
          <autoValidateFileMask>false</autoValidateFileMask>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-setenv-SetEnvBuildWrapper</string>
      <external-property>
        <originalValue class="hudson.plugins.setenv.SetEnvBuildWrapper">
          <localVarText>XTUML_TEST_MODEL_REPOSITORY=${WORKSPACE}/models/test
WORKSPACE2=${WORKSPACE}/wse
SWT_GTK3=0
INCLUDE_TESTS=false
</localVarText>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>logRotator</string>
      <log-rotator-property>
        <originalValue class="hudson.tasks.LogRotator">
          <daysToKeep>30</daysToKeep>
          <numToKeep>10</numToKeep>
          <artifactDaysToKeep>-1</artifactDaysToKeep>
          <artifactNumToKeep>-1</artifactNumToKeep>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </log-rotator-property>
    </entry>
    <entry>
      <string>hudson-tasks-BuildTrigger</string>
      <external-property>
        <originalValue class="hudson.tasks.BuildTrigger">
          <childProjects>BridgePoint Publish</childProjects>
          <threshold>
            <name>SUCCESS</name>
            <ordinal>0</ordinal>
            <color>GREEN</color>
          </threshold>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <createdBy>jfaltermeier</createdBy>
  <creationTime>1479734129286</creationTime>
  <properties/>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet"/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>remoteStartBPBuild</authToken>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
</project>
