<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>testuser</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>cmqKiL:e038c75106de9fc98083e77b47c6a026c663f73583bfc86f3d0ae3a76f91182d</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>jfaltermeier@eclipsesource.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>