<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Publish BridgePoint to the AWS S3</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>FORK</name>
          <description>Describes the fork that was used for the build to publish</description>
          <defaultValue>nightly</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH</name>
          <description>Describes the branch that was used for the build to publish</description>
          <defaultValue>build</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.38.1">
      <project>BridgePoint</project>
      <filter></filter>
      <target>data</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

export ARCHIVEDIR=/build/buildmt/hudson-home/jobs/BridgePoint/lastSuccessful/archive
export DATADIR=data
export BPLOG=${DATADIR}/buildfiles.html

ver=$(grep -o &quot;[0-9]\.[0-9]\.[0-9]&quot; /tmp/buildinfo/about.mappings)
curdate=$(grep -o &quot;[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9] [0-9][0-9]:[0-9][0-9]&quot; /tmp/buildinfo/about.mappings)
#curdate=$(TZ=&apos;America/New_York&apos; date +&quot;%F %R&quot;)

echo &quot;&quot; &gt; ${BPLOG}

cd ${DATADIR}
echo &quot;&lt;html&gt;&lt;head&gt;&lt;title&gt;BridgePoint build&lt;/title&gt;&lt;/head&gt;&lt;body&gt;&lt;pre&gt;&quot;  &gt;&gt; ${BPLOG}
echo &quot;Last Build:&quot; &gt;&gt; ${BPLOG}
echo &quot;===============&quot; &gt;&gt; ${BPLOG}
echo &quot;Version: $ver&quot; &gt;&gt; ${BPLOG}
echo &quot;Build ID: $curdate EDT&quot; &gt;&gt; ${BPLOG}
#echo &quot; &quot; &gt;&gt; ${BPLOG}
#echo &quot;Files:&quot; &gt;&gt; ${BPLOG}
#echo &quot;===============&quot; &gt;&gt; ${BPLOG}
#ls -l &gt;&gt; ${BPLOG}
echo &quot; &quot; &gt;&gt; ${BPLOG}
echo &quot;MD5 Sums:&quot; &gt;&gt; ${BPLOG}
echo &quot;===============&quot; &gt;&gt; ${BPLOG}
md5sum *.zip &gt;&gt; ${BPLOG}
echo &quot; &quot; &gt;&gt; ${BPLOG}
echo &quot;Links:&quot; &gt;&gt; ${BPLOG}
echo &quot;===============&quot; &gt;&gt; ${BPLOG}
echo &quot;&lt;a href=&quot;org.xtuml.bp.product-linux.gtk.x86_64.zip&quot;&gt;Linux 64-bit&lt;/a&gt;&lt;br&gt;&lt;a href=&quot;org.xtuml.bp.product-macosx.cocoa.x86_64.zip&quot;&gt;Mac 64-bit&lt;/a&gt;&lt;br&gt;&lt;a href=&quot;org.xtuml.bp.product-win32.win32.x86.zip&quot;&gt;Windows 32-bit&lt;/a&gt;&lt;br&gt;&lt;a href=&quot;org.xtuml.bp.product-win32.win32.x86_64.zip&quot;&gt;Windows 64-bit&lt;/a&gt;&lt;br&gt;&lt;/pre&gt;&lt;/body&gt;&lt;/html&gt;&quot; &gt;&gt; ${BPLOG}
export TEST_REPORT=$ARCHIVEDIR/org.xtuml.bp.releng.parent/target/site/surefire-report.html
if [ ! -f $TEST_REPORT ]; then
  export TEST_REPORT=/build/buildmt/hudson-home/jobs/BridgePoint/workspace/bridgepoint/releng/org.xtuml.bp.releng.parent/target/site/surefire-report.html
fi
if [ -f $TEST_REPORT ]; then
  cp  $TEST_REPORT $DATADIR
  echo &quot; &quot; &gt;&gt; ${BPLOG}
  echo &quot;Testing:&quot; &gt;&gt; ${BPLOG}
  echo &quot;&lt;br&gt;===============&quot; &gt;&gt; ${BPLOG}
  echo &quot;&lt;br&gt;&lt;a href=&quot;surefire-report.html&quot;&gt;Unit Test Results&lt;/a&gt;&quot; &gt;&gt; ${BPLOG}
fi

BRANCH_BUILD=$FORK-$BRANCH
if [ &quot;$BRANCH_BUILD&quot; == &quot;xtuml-master&quot; ]; then
  BRANCH_BUILD=&quot;nightly-build&quot;
fi

export AWS_CONFIG_FILE=/build/buildmt/awsconfig
aws s3 sync ${DATADIR}/ s3://xtuml-releases/${BRANCH_BUILD}/  --grants read=uri=http://acs.amazonaws.com/groups/global/AllUsers</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.33">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>