<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>testuser</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAABwzRW76dZA8VVmurZGpuJBUmZhwgzQMeITfdV4u9rdu7LKDwkDcxAwOOwbfpzaRG4SW3UklZFlEIPxGhfV3Tp+UckMMLBlwH/rWl2G8rKgCWEHhCeIiptIrbT8Y12bMuuKxY42dhBM6enXJZimpRkuxHrlvOVcXbKiI7pWewbg8Cg=}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$E.12t66Bq2GN.CVeU/Pvle7km7.ExmtUtOmgwnAUL6M0gyIyikmna</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1492783113955</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>